/* --------------Tiny Slider-------------- */
#slider{
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
}
.container{
width: 1600px;
margin: auto;
}
.subcontainer{
    width: 85%;
    margin: auto;
}
.slide-img{
    width: 100%;
    height: 275px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.slide-img:hover{
box-shadow: 0 0 0 200px rgba(0, 0, 0,0.9) inset;
}
.slide-img a{
opacity: 0;
text-decoration: none;
transform: scale(0);
transition: 0.8s;
font-size: 1.5rem ;
color: white;
}
.slide-img:hover a{
    opacity: 1;
    transform: scale(1);
}
.img-1{
    background-image: url(../img/slider1.jpg);
    width: 250px;
height: 250px;
}
.img-2{
    background-image: url(../img/slider2.jpg);
    width: 250px;
height: 250px;
}
.img-3{
    background-image: url(../img/slider3.jpg);
    width: 250px;
height: 250px;
}
.img-4{
    background-image: url(../img/slider4.jpg);
    width: 250px;
height: 250px;
}
.img-5{
    background-image: url(../img/slider5.jpg);
    width: 250px;
height: 250px;
}
@media(max-width:1600px){
    .container{
        width: 100%;
    }
}

